*,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: relative;
    max-width: 100%;    
    box-sizing: border-box;
    background-color: white;
    align-items: center;
    text-align: center;
}
.div-content{
    width: 100%;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;   
}

.call {
    height: 50px;
}
.p17{
    color: white;
}
p{
    color: black;
    text-align: justify;
    font-size: 1.4rem;
}
h2 {
    text-align: justify;
    margin-left: 8px;
}
.img-laptop{
    display: flex;
    height: auto;
    gap: 8px;
   
}
.p10{
    color: #000000;
}
.div1-1{
    display: flex;
    
}

.button{
    background-color:  #FCD116;
    border-radius: 5px;
    padding: 10px 5px;
    
}
.div-2{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    span{
        font-size: 1.4rem;
    }
}


.lap{
    color: #cc9900;;

}

.img-phone{
    margin-left: 10px;
    display: flex;
    align-items: center;
    height: auto;
   
}



.img-houre{
    display: flex;
    align-items: center;
    gap: 10px;
    

}
main{
    background-color: #ffc50a;
}

.entete{
    display: flex;
    background-color: #ffc50a;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 20px;
       height: 70px;
    align-items: center;

}
.crepe{
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.samoussa{
    height: 150px;
    position: relative;
    border-radius: 50%;
    left: 10px;
    border: 1px solid black;
}

.pizza{
    background-color: white;
    position: relative;
    height: 150px;
    border-radius: 50%;
    left: 10px;
    border: 1px solid black

}
.sw{
    background-color: white;
    position: relative;
     height: 150px;
     width: 150px;
    border-radius: 50%;
    right: 7px;
    border: 1px solid black

}

.shar{
   
    height: 150px;
     position: relative;
    border-radius: 50%;
    left: 10px;
    border: 1px solid black;
}
.burg{
    height: 150px;
    width: 150px;
    position: relative;
    left: 10px;
    border: 1px solid black;
    border-radius: 50%;
     
}

.panacke{
    display: flex;
    justify-content: center;
}

.logo{
    position: relative;
    top: 117px;
    left: 30px;
    padding-top: 20px;
    height: 200px;
    width: 160px;
}
.logo1{
    height: 150px;
    width: 150px;
    border: 1px solid black;
    border-radius: 50%;
    
}
.menu{
    background-color: #000000cc;
    text-align: center;
    padding: 10% 10px;
    margin: 0 20px;
    border-radius: 40px;
    height: auto;
}
h3{
    color: white;
    font-size: 2.7rem;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 50px;
}

.liste1{
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding-bottom: 20px;
   
  

}
.liste2{
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding-bottom: 20px;
}
.liste3{
    display: flex;
    text-align: center;
    position: relative;
    justify-content: space-around;
    padding-bottom: 20px;
    
}

.menu2{
    display: block;
    margin: 60px 40px;
    width: 500px;
    
    
}

.book {
    padding: 10px;
    border-radius: 5px;
    background-color: #FCD116;
    transition: 0.6s;
}
.book:hover{
    background-color: white;
    color: black;
}
.menu3{
    border-radius: 20px;
   margin: 10px 70px;
 background-color: #000000bf;
}
.sam{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    padding-right: 20px;
}
.pizz{
   display: flex;
   align-items: center;
   

}
.s{
    background-color: antiquewhite;
    border: 1px solid black;
    border-radius: 0 10px 10px 0;
    padding: 10px 40px;
    width: 300px;
   
}
.s1{
    background-color: antiquewhite;
    border: 1px solid black;
     border-radius: 0 10px 10px 0;
    padding: 10px 70px;
    width: 300px;
    text-align: center;
     
}
.s2{
    background-color: antiquewhite;
    border: 1px solid black;
    width: 250px;
    padding: 10px 40px ;
    border-radius: 0 10px 10px 0;
}
.s3{
    background-color: antiquewhite;
    border: 1px solid black;
    border-radius: 0 10px 10px 0;
    padding: 20px 40px ;
    width: 200px;
}
.s4{
     width: 150px;
     padding: 0 30px;
     color: white;
    font-size: 1.5rem;


}


.menu-principal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: auto;

}
.food{
    margin: 40px 10px;
}

.form{
   padding: 30px;
}

label{
    color: white;
}

input{
    
    border-radius: 10px;
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
}
.formulaire{
    border-radius: 15px;
    width: 400px;
    margin: 20px 40px;


    background-color: #151414ab;
    border: 1px solid black;
}

select{
    border-radius: 10px;
    padding: 10px 0;
    margin-bottom: 10px;
    width: 300px;
}


.shawarma{
    display: flex;
    padding-top: 20px;
    align-items: center;
}
.mini-burger{
    padding-top: 20px;
    display: flex;
    align-items: center;
}
.produit1{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.produit2{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.produit3{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.produit4{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;

}
.ps{
    height: 150px;
     position: relative;
    border-radius: 50%;
    top: 8px;
    right: 5px;
   
    border: 1px solid black;
}

.galt{
    position: relative;
    color: white;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    bottom: 20px;
    right: 9px;
    border: 1px solid black;
}

.avant-footer{
    display: flex;
    height: auto;
    margin-right: 50%;
    margin-left: 5%;
    background-color: #3d3416;
    align-items: center;
    justify-content: center;
}
.bissap{
    display: flex;
    border-right: 2px solid white;

    
}
.yaourt{
    display: flex;
    
}
.shr{
    height: 100px;
     position: relative;
    border-radius: 50%;
  right: 8px;
    border: 1px solid black;

}
.sht{
    height: 100px;
    position: relative;
    left: 6px;
    top: 8px;
    border: 1px solid black;

    border-radius: 50%;
}
.hours{
    background-color: #3d3416;
    flex-direction: row;
    padding: 50px 10px;
    margin: 0 10px;
    text-align: center;
    width: 300px;
    height: 500px;
}
.contact{
    padding-bottom: 10%;
    
}
.position{
    padding-top: 90px;
}
.phone{
    height:100px;
    width: 100px;
    background-color: rgb(206, 207, 207);
    border: 1px solid black;
    padding: 20px;
    border-radius: 50%;
}
.envoyer:hover{
    background-color: #FCD116;
    color: white;

}
.envoyer{
    transition: 0.6s;
}


.face {
    height: 32px;
    width: 32px;
}
main{
    height: auto;
    background-image:url(./Image1/restaurant-hall-with-red-brick-walls-wooden-tables-pipes-ceiling.jpg);
    background-position: center;
    background-size: cover;
    
}

.foot{
    background-color: rgba(0, 0, 0, 0.726);
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
}

.ligne-droite{
    padding: 0 30px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.face{
    height: 32px;
    width: 32px;
}
.p6{
    color: white;
    font-size: 2rem;
    padding-bottom: 10px;
}
.p7{
  text-align: center;
  padding: 20px 0;
  font-size: 2.3rem;
   background-color: rgba(0, 0, 0, 0.726);
    color: #FCD116;
}

@media screen and (max-width:850px){
    
    .div-nav, .div-nav ul{
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 10px;
        gap: 20px;
    }
    .menu{
      
        width: 100px;
    }
    .foot{
    flex-direction: column;
    gap: 30px;
    margin: auto; 
}
.ligne-droite{
    text-align: center;
  }

  h3{
    
    flex-direction: column;
    margin: auto;

  }
  .header .div1-1{
        display: none;
    }

    .samoussa {
    height: 90px;
    }
    .pizza {
    height: 90px;
    }
    .shar {
    height: 90px;
        
    }
    .logo1{
        height: 100px;
    }
    .ps{
        height: 90px;

    }
    .sw{
        height: 90px;
    }
    .galt{
        height: 90px;
    }
    .s2{
        padding: 10px 20px;


        }
    .burg{
        height: 100px;
        width: 80px;
    }

   

    
} 
@media screen and (max-width:1000px){
    
    .div-nav, .div-nav ul{
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 10px;
        gap: 20px;
    }
    .menu-principal{
         flex-direction: column;
         align-content: center;
         align-items: center;

    }
    
     h2{
        display: none;
    }
    .book{
        width: 200px;
    }
    
    
} 